<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="text-center">Add Car</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
            <div class="card shadow-lg p-3">
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Name" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="file" placeholder="Image" name="image" class="form-control">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
        </div>
    </div>

    <script src="/dist/jquery.min.js"></script>
    <script src="/dist/umd/popper.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
</body>
</html>